<% #include ApiLink
%>
<div id="navcontainer">
	<ul id="navlist">
		<%= li_remoto("Tipo Activos","tipo_activos","","active",nil) %>
		<%= li_remoto("Opcion2","","",nil,nil) %>
		<%= li_remoto("Opcion3","","",nil,nil) %>
		<%= li_remoto("Opcion4","","",nil,nil) %>
		<%= li_remoto("Opcion5","","",nil,nil) %>
	</ul>
</div>