<h1>Accounts#transfer</h1>
<p>Find me in app/views/accounts/transfer.html.erb</p>


<h1>New transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_id %><br />
  
  <%= select("accounts", "account_id", Account.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>

  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </p>
  <p>
    <%= f.submit "Create" , :or=> link_to ('Back', accounts_path) %>
  </p>
<% end %>
